<div style="margin-left: 10px;">
    <!-- <input type="text" > -->
    <!-- <div class="search-results">
      <div class="search-result" *ngFor="let result of results | async">
        {{ result.username }}
      </div>
    </div> -->
<!-- <button (click)="search($event)" >search</button> -->
<form class="uk-search uk-search-default">
  <span uk-search-icon style="color:#84D8E5;"></span>
  <input style="border: solid 2px #84D8E5; border-radius:2%" class="uk-search-input" type="search" (keyup)="search()" [(ngModel)]="searchValue" placeholder="Search..." name="first">
</form>
  </div>


  