<!-- 
<div class="container">
  <nav class="navbar navbar-light" style="background-color: grey; text-align: center;color:white">
    <h2 style="text-align: center;">Featured Posts</h2>
  </nav>
  <br><br>

  <div class="row">

    <div *ngFor="let post of postsList">
      <div class="col-sm">
        <div class="card" id="card" style="width: 18.1rem; height: 30rem">
          
          <carousel *ngIf="post">
            <div *ngFor="let picture of post.pics">
              <slide >
                <img [src]="picture" alt="Loading" width="100%" height="250rem"> 
            </slide>
            </div>
            

          </carousel>

          <div class="card-body" bac>
            <h4 class="card-title" style="text-align: center; font-weight:bold; text-transform:capitalize">{{post.title}}</h4>
            <p class="card-text" style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis; ">{{post.description}}</p>
          </div>
          <div class="card-footer">

            <button style="font-family: Comic Sans MS;" [routerLink]="['/detailpost',post.timestamp['seconds']]"(click)="postdetails(post)" id="button1" >View Details</button>
          </div>
        </div>
        <br>
      </div>
    </div>
  </div>


</div> -->
<br>
<div class="container" style="text-align: center">
  <!-- <nav class="navbar navbar-light uk-text-middle" style=" width:100%;border: 1px solid #034150;background-color:#425f61 ; text-align: center;color:white">
    <h2 class="uk-text-middle" style="text-align: center; color:#bcf5f6;" >Featured Posts</h2>
    <app-search-post></app-search-post>
  </nav> -->

  <nav class="uk-navbar-container uk-margin" uk-navbar style="background-color: #425f61; color:#bcf5f6; border-radius:5px;border:1px solid white">
    <div class="uk-navbar-left">

        <a class="uk-navbar-item uk-text-large uk-text-emphasis"><div style="font-weight:bold; color:#bcf5f6;">Featured Posts</div></a>

        

       


    </div>
    <div class="uk-navbar-right">
      <div class="uk-navbar-item">
        <app-search-post></app-search-post>

      </div>

    </div>
</nav>

  <br><br>
<div class="uk-grid-column-medium uk-grid-row-large uk-child-width-1-3@s uk-text-center" uk-grid>
<div *ngFor="let post of postsList">
  <div class="uk-card uk-card-hover uk-card-default   uk-animation-slide" style="border-radius: 10px;" >
      <!-- <div class="uk-card-media-top">
          <img src="{{post.pics[0]}}" alt="" width="100%" height="250rem">
      </div> -->
      <div class="uk-card-media-top uk-cover-container" style="border-radius: 10px;" >
        <img src="{{post.pics[0]}}" alt="" uk-cover >
        <canvas width="600" height="550"></canvas>
    </div>
      <!-- <carousel *ngIf="post">
        <div *ngFor="let picture of post.pics">
          <slide >
            <img [src]="picture" alt="Loading" width="100%" height="250rem"> 
        </slide>
        </div>
        

      </carousel> -->
      <div class="uk-card-body">
          <p class="uk-card-title uk-text-truncate" style="padding-bottom:10px;">{{post.title}}</p>
          <!-- <p class="uk-text-justify uk-text-break" >{{post.description}}</p> -->
      </div>
      <div class="uk-card-footer">
        <a  class="uk-button uk-button-text" style="color: #034150;" [routerLink]="['/detailpost',post.timestamp['seconds']]"(click)="postdetails(post)">View Details</a>
    </div>
  </div>
</div>

</div>
<br>
</div>