<!-- <div *ngFor="let post of postcrud.posts | async" >
<div class="row">
  <div class="col">
  <nb-card [size]="medium">
<nb-card-body class="example-items-col">
      <h1>
        {{post.title}}
      </h1>
      <p>
        {{post.description}}
      </p>
    </nb-card-body>
  </nb-card>
</div>
</div>
</div> -->
<div class="container">
  <nav class="navbar navbar-light" style="background-color: grey; text-align: center;color:white">
    <!-- <a class="navbar-brand" id="feature" href="#"> -->
    <!-- <img src="/docs/4.0/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt=""> -->
    <h2 style="text-align: center;">Featured Posts</h2>
    <!-- </a> -->
  </nav>
  <br><br>

  <div class="row">

    <div *ngFor="let post of postcrud.posts | async">
      <div class="col-sm">
        <div class="card" id="card" style="width: 18.1rem; height: 38rem">

          <carousel *ngIf="post">
            <div *ngFor="let picture of post.pics">
              <slide >
                <img [src]="picture" alt="Loading" width="200px"> 
            </slide>
            </div>
            

          </carousel>

          <!-- <img *ngIf="post.picId != null" class="card-img-top" src={{post.picId[0]}} alt="Card image cap"> -->
          <div class="card-body" bac>
            <h5 class="card-title">{{post.title}}</h5>
            <p class="card-text">{{post.description}}</p>
          </div>
          <div class="card-footer">
            <h5 class="text-center">Rs 2500</h5>
            <button id="button1" data-toggle="modal" data-target="#InfoModal">View Details</button>
          </div>
        </div>
        <br>
      </div>
    </div>
  </div>
</div>



<!-- Modal -->

<div class="modal fade" id="InfoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="md-form">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
         <div class="container">
  <div class="card">
    <div class="card-body">
            <h5 class="modal-title" style="font-weight:bolder">Owner Details</h5>
            <h6>Name:</h6>
            <h6>Email: </h6>
</div>
</div>



 <div class="card">
    <div class="card-body">
            <h5 class="modal-title" style="font-weight:bolder">Comments</h5>

 </div>
</div>
<div class="card">
    <div class="card-body">
        <div class="form-group">
                <h5 class="modal-title" id="exampleModalLabel" style="font-weight:bolder">Add a comment</h5>
            <textarea (change)="commentDescriptionChange($event)" class="md-textarea form-control" id="exampleFormControlTextarea2" rows="6" placeholder="Comment"></textarea>
        </div>
    </div>
   
      <h5 class="modal-title" id="exampleModalLabel" style="font-weight:bolder">Select picture for upload:</h5>
      <input type="file" multiple=true (change)="upload($event)" accept=".png,.jpg" />
    </div>
  <div class="progress">
    <div class="progress-bar progress-bar-striped bg-success" role="progressbar" [style.width]="(uploadProgress | async) + '%'" [attr.aria-valuenow]="(uploadProgress | async)" aria-valuemin="0" aria-valuemax="100"></div> 
</div>
  </div>
  <div *ngIf="uploads" class="alert alert-info" role="alert">
    <div *ngFor="let pic of uploads">
      <p>
        Picture uploaded: {{pic.name}}
      </p>
    </div>
     </div>
</div>


</div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button> -->
        <button id = 'button11' (click)="commentSave($event)" class="ui secondary button" data-dismiss="modal" >
          Add Comment
        </button>
      </div>
      </div>
    </div>
  