<!-- <div style="padding-right: 2rem;">
<button class="ui primary button" data-toggle="modal" data-target="#basicExampleModal" style="float:right;">
  <i class="shop icon"></i>
  Post an Add
</button>
</div>
<div class="modal fade" id="basicExampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="md-form">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Post Ad</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input type="text" (change)="postTitleChange($event)" id="defaultContactFormName" class="form-control mb-4" placeholder="Title">

        <div class="form-group">
            <textarea (change)="postDescriptionChange($event)" class="md-textarea form-control" id="exampleFormControlTextarea2" rows="6" placeholder="Description"></textarea>
        </div>

      </div>
     <div class="container">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Select picture for upload:</h5>
      <input type="file" multiple=true (change)="upload($event)" accept=".png,.jpg" />
    </div>
  <div class="progress">
    <div class="progress-bar progress-bar-striped bg-success" role="progressbar" [style.width]="(uploadProgress | async) + '%'" [attr.aria-valuenow]="(uploadProgress | async)" aria-valuemin="0" aria-valuemax="100"></div>
</div>
  </div>
  <div *ngIf="uploads" class="alert alert-info" role="alert">
    <div *ngFor="let pic of uploads">
      <p>
        Picture uploaded: {{pic.name}}
      </p>
    </div>

</div>
</div>
      <div class="modal-footer">
        <button (click)="postSave($event)" class="ui secondary button" data-dismiss="modal">
          Submit Post
        </button>
      </div>
      </div>
    </div>
  </div>
</div> -->

<div>
  <h1 style="text-align: center; padding-top:1rem;">POST YOUR AD</h1>
  <div class="container">
    <div class="card">
      <div class="content">
        <h4 class="ui horizontal divider header" style="padding-left:1rem; padding-right:1rem; padding-top:1rem">
          <i class="tag icon"></i>
          Description
        </h4>
        <form class="ui form" (submit)="postSave($event)" ngNativeValidate>
          <div class="form-group" style="padding-left: 1rem; padding-right:1rem; padding-top:1rem">
            <!-- <label>  Title</label>   -->
            <input name="postTitle" type="text" (change)="postTitleChange($event)" id="defaultContactFormName" class="form-control mb-4"
              placeholder="Title" required>

          </div>
          <!-- <div class="form-group" style="padding-left: 1rem; padding-right:1rem; padding-top:1rem">
            <textarea (change)="postDescriptionChange($event)" class="md-textarea form-control" id="exampleFormControlTextarea2" rows="6" placeholder="Description"></textarea>
        </div> -->
          <div style="padding-left: 1rem; padding-right:1rem; padding-top:1rem">
            <angular-editor [placeholder]="'Enter text here...'" [config]="editorConfig" [(ngModel)]="postDescription"
              name="postDescription" required ></angular-editor>

          </div>
          <div class="grouped fields" style="padding-left:1rem;">
            <label>Condition: </label>
            <div class="field">
              <div class="ui radio checkbox">
                <input type="radio" name="condition" checked="checked" (change)="postConditionChange($event,0)">
                <label>New</label>
              </div>
            </div>
            <div class="field">
              <div class="ui radio checkbox">
                <input type="radio" name="condition" (change)="postConditionChange($event,1)">
                <label>Used</label>
              </div>
            </div>


          </div>
          <div class="field" style="padding-left:1rem;padding-right:1rem;">
            <!-- <div class="card-body"> -->
            <!-- <h5 class="card-title">Select picture for upload:</h5> -->
            <!-- <label>Upload photos</label> -->
            <!-- <input type="file" required multiple=true (change)="upload($event)" accept=".png,.jpg" /> -->

            <div class="js-upload uk-placeholder uk-text-center">
              <span uk-icon="icon: cloud-upload"></span>
              <span class="uk-text-middle"> Upload item photo by dropping them here or </span>
              <div uk-form-custom>
                <input type="file" required multiple (change)="upload($event)" accept=".png,.jpg" />
                <span class="uk-link">Click Here</span>
              </div>
          </div>

            <!-- </div> -->
            <!-- </div>
        <div class="field"style="padding-right:1.5rem;">
        <div>
          <input style="height:3rem" type="number" id="defaultContactFormName" class="form-control mb-4" placeholder="Price">
        </div> -->
          </div>
          <div *ngIf="itemUploaded" class="progress" style="padding-left:2rem; padding-right:2rem; padding-top:1rem">
            <div style="padding-left:2rem; padding-right:2rem; padding-top:1rem"
              class="progress-bar progress-bar-striped bg-success" role="progressbar"
              [style.width]="(uploadProgress | async) + '%'" [attr.aria-valuenow]="(uploadProgress | async)"
              aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <div *ngIf="limit" class="alert alert-info" role="alert">
          <p style="color:red">Picture Size Exceeded.Select New Picture</p>
          </div>
          <div *ngIf="itemUploaded && !limit" class="alert alert-info" role="alert">
            <div *ngFor="let pic of uploads">
              <p>
                Picture uploaded: {{pic?.name}}
              </p>
            </div>

          </div>

          <h4 class="ui horizontal divider header">
            <i class="map icon"></i>
            Item Location
          </h4>
          <div class="two fields" style="padding-left: 2rem;padding-right:1rem;">
            <div class="field">
              <input class="form-control" name="state" style="width:96%; height:3rem"
                (change)="postStateChange($event)"placeholder="Enter State" required >
                            </div>
            <div class="field" style="padding-right:1.5rem;" >

              <input placeholder="Enter City" class="form-control" name="city" style="width:100%; height:3rem"
                (change)="postcityChange($event)" required >

            </div>

          </div>




          <div style="text-align: center; padding-bottom:1rem;">
            <button type="submit" class="ui secondary button" value="submit">
              Post Now
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <br>
  <br>
</div>
