<br><br><br><br><br><br><br>
  <!-- <div id="background"> -->
    <h1 class="ui aligned icon header">
      <img src="{{gicon}}" style="height:10rem;border-radius:5px;" class="circular users icon">
      WELCOME TO TABDEALIT<br>
    </h1>

    <!-- <div style="text-align: center;"> -->
    <button style="padding-left: 5rem; text-align:center;" class="ui google plus button"(click)="auth.googleSignin()" style="opacity:1;">
      <i class="google plus icon"></i>
      Login with Google
    </button>
  <!-- </div> -->
    <!-- </div> -->
    <!-- <div style="padding-top: -20rem;"> -->
     
  <!-- </div> -->
