nav{
  width: 100%;
  background-color:#313DB8;
}
#nav-itemm{

  margin: 0;

  overflow: hidden;
  background-color:#313DB8;
  padding: 1rem 0rem 1rem 8rem;
}
li {
  float: left;
  list-style-type: none;
}
#nav-itemm li a {
  display: block;
  color: #C9C9FE;

  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.5rem;
}
#nav-itemm li a:hover{
  color: white;

  font-weight: bold;

}

#fast{

      color: white;

}
#barter{
  background: yellow;
  color:#2956C1;
}
#navbarr-dark{
  text-decoration: none;
  display: block;
  padding-left: 0%;
  padding-top: 2.2rem;
  padding-bottom: 0.9rem;

  background-color:#313DB8;
 font-size:3rem;
 overflow: hidden;
 text-align: left;
}
#navbar-display{
  margin-left: 220px;
}
/*#nav-button{
  background-color: #42932C;
}

#nav-input{
  width: 160px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;

  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
  width: 60%;
}*/




.search-container *,
.search-container *:after,
.search-container *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}


.search-container *:focus {
  background: #fbfbfb;
  color: #ffffff;
  outline: 0;
}


.search-container {
  display: table;
  position: relative;
  width: 51px;
  margin-left: 96%;
}


.search-icon-btn {
  background-color: #313DB8;
  border: 2px solid #646FD5;
  display: table-cell;
  height: 40px;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 50px;
  z-index: 2;
}


.search-input {
  position: absolute;
  right: 0;
  z-index: 1;
}

.search-input input.search-bar {

  height: 40px;
  padding: 0px;
  width: 50px;
}
.search-input input.search-bar:focus {
  padding-left: 60px;
  padding-right: 10px;
  width: 200px;
}
.fa.fa-search{
   color:white;
}

.search-input input.search-bar,
.search-icon-btn {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}


.search-container:hover > .search-input input.search-bar {
  padding-right: 60px;
  padding-left: 10px;
  width: 200px;
}

