
<div>
    <nav>


        <!--<button type="button" >

        </button>-->
        <ul>
            <li><a id="navbarr-dark" [routerLink]="['/']" routerLinkActive="router-link-active"><span id="fast"> FAST </span><span id="barter"> BARTER</span></a></li>

            <div id="nav-itemm" >
                 <li><a href="#" >Home</a></li>
                <li><a href="#" >About</a></li>
                <li><a href="#" >Forum</a></li>
                <li><a href="#" >Contact Us</a></li>
                <li ><div  id="navbar-display" *ngIf="auth.user$ | async as user" style="display:inline-flex">
      
                  <h3  style="padding-top:1rem;padding-right:1rem;color:#C6CAF7;">Howdy, {{ user.displayName }}</h3>
                  <img [src]="user.photoURL" style="width:3.5rem;height:3.5rem;border-radius: 50%;">
                  <!-- <p>UID: {{ user.uid }}</p> -->
                </div>  </li>
            </div>


        </ul>
    </nav>
        <div class="search-container">
            <div class="search-icon-btn">
              <i class="fa fa-search"></i>
            </div>
            <div class="search-input">
              <input type="search" class="search-bar" placeholder="Search...">
            </div>
          </div>

        </div>


<router-outlet></router-outlet>

