<!-- <div class="container" style="text-align:center;padding-top:2rem;">
<h2 class="ui icon header" >
  <i class="user icon"></i>
  <div class="content">
    User Profile
    <div class="sub header" >Manage Your Posts.</div>
  </div>
</h2>
</div> -->
<style>
  th{
      font-size: 18px;
      font-weight: bold;
      padding: 15px 15px 15px 15px;
  }
  td{
      font-size: 14px;
  }

</style>
<div style="background-image: linear-gradient(45deg,#84d8e5, 10%,#034150);" >
<div id="all" >

    <div id="content" style="background-image: linear-gradient(45deg,#84d8e5, 10%,#034150);" >
        <div class="container"  style="margin-top:20px">

            <!-- <div class="col-md-12">
                <ul class="breadcrumb">
                    <li><a href="#">Home</a>
                    </li>
                    <li>My properties</li>
                </ul>
            </div> -->

            <div class="col-md-9" id="checkout" >

                <div class="box" style="border: 1px solid #034150; border-radius: 5px">

                        <h1 style="color: #034150">My properties</h1>


                        <div class="content">
                            <div class="table-responsive">
                                <table  class="table">
                                    <thead>
                                        <tr style="color: #034150">
                                            <th colspan="2">Property</th>
                                            <th>Title</th>
                                            <th>Condition</th>
                                            <th>Description</th>

                                        </tr>
                                    </thead>
                                    <tbody *ngFor="let item of usersPost">
                                        <tr>
                                            <td>
                                                <a href="#">
                                                    <img src="{{item.pics[0]}}" alt="img1">
                                                </a>
                                            </td>

                                            <td></td>
                                            <td>{{item.title}}</td>
                                            <td>{{item.condition}}</td>
                                            <td>{{item.description}}</td>
                                            <td><button class="ui button" style="background-color: #BCF5F6;width:140px;" [routerLink]="['/editpost']"(click)="postdetails(item)">
                                              <i class="edit icon"></i>
                                              Edit Post
                                            </button></td>
                                        </tr>

                                    </tbody>

                                </table>

                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.content -->


                </div>
                <!-- /.box -->


            </div>
            <!-- /.col-md-9 -->

            <div class="col-md-3" >


                  <div class="card hovercard">
                  <div class="cardheader">

                  </div>
                  <div class="avatar">
                      <img alt="" src="{{user.photoURL}}">
                  </div>
                  <div class="info">
                      <div class="title">
                          <a target="_blank">{{user.displayName}}</a>
                      </div>
                      <div class="desc">User</div>

                  </div>
                </div>

            <!-- /.col-md-3 -->

        </div>
        <!-- /.container -->
    </div>
    <!-- /#content -->
    </div>
</div>